{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="{% static 'Chatbot/images/chatbot_1x.png' %}"/>
    <title>
        Gladys
    </title>


    <link rel="stylesheet" href="{% static 'Chatbot/style.css' %}">
</head>

<body>
<div class="menu">
    <div class="back"><a style="color: white" href="{% url 'about:index' %}" ><i class="fa fa-chevron-left"></i></a> <img src="{% static 'Chatbot/images/chatbot_1x.png' %}" draggable="false"/></div>
            <div class="name">Gladys</div>
            <div class="last">18:09</div>
</div>
<div class="interface">
    <ol class="chat">
    <li class="other">
        <div class="avatar"><img src="{% static 'Chatbot/images/chatbot_1x.png' %}" draggable="false"/></div>
      <div class="msg">
        <p>Hello {{ name }}!</p>
        <p>What would you like to order today?</p>
        <time>20:17</time>
      </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
      <div class="msg">
        <p>Let me think...</p>
        <time>20:18</time>
      </div>
    </li>

    </ol>
</div>

    <form id="send" method="post" action="">

        {% csrf_token %}
        <input class="textarea" id="send" name="send-request" type="text" placeholder="Type here!"/>
        <input type="submit" value="Send">
    </form>


</body>